<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902696690885-cu1d8tfa44v20230gdgk6ojq594esn7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902696690885-cu1d8tfa44v20230gdgk6ojq594esn7s</string>
	<key>API_KEY</key>
	<string>AIzaSyAHztyk4NxO0tkysGjE79gRgKU69-9VU4g</string>
	<key>GCM_SENDER_ID</key>
	<string>902696690885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ubuntuSystem</string>
	<key>PROJECT_ID</key>
	<string>ubuntusystem-940be</string>
	<key>STORAGE_BUCKET</key>
	<string>ubuntusystem-940be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902696690885:ios:6211a5081842be70647cac</string>
</dict>
</plist>